.image-desgin{
    background-color: rgb(168, 168, 168);
    
}
.ba-color{
    background-color: #00486C;
}
.icon{
    opacity: 0.7;
    font-size: 18px;
    padding: 5px 5px 0px;
    box-sizing: border-box;
    color: #00486C;
}

.icon:hover{
    color: rgb(72, 87, 86);
}